@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

.logo {
  color: #fff;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.3rem;
}

.logo img {
  width: 6rem;
}

.logo h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 4rem;
  margin-top: 0.4rem;
}
